/*===================================================================
    => GOOGLE FONT
====================================================================*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;600;700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

body::before {
    display: block;
    content: "";
    height: 60px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}